//- plaintext message content

| Hello !{userData.name},
|
| Welcome to !{appname}!
| You can log in to your account here: !{loginUrl}
| Use the following password: !{userData.password}
|
| !{appname} at (!{appurl})
