//- plaintext message content

| Please Confirm Subscription
| ===========================
|
| Thank you for signing up to !{listData.name}.
|
| Click here to confirm your subscription: !{validationUrl}
|
| If you received this email by mistake, simply delete it. You won't be subscribed unless you click the confirmation link above.
|
| For questions about this list, please contact: !{listData.email}
|
| !{appname} at (!{appurl})
