//- plaintext message content

| Subscription listing
| ====================
|
| Click on the link below to view all subscriptions of #{email} at !{appname}: !{subscriptionsUrl}
|
| The given link expires in 24 hours.
|
| !{appname} at (!{appurl})
