extends ../layouts/subscribers.pug

block content
    h3 Subscribe to #{listData.name}

    if error
        +alert('danger', error)

    form.mm-captcha-form(method='post', action='/subscribers/subscribe')
        input(type='hidden', name='_csrf', value=csrf)
        input(type='hidden', name='list', value=list)
        input(type='hidden', name='tz', value=values.tz, class={'mm-tz-detect': !values.tz})
        input.mm-clear(type='hidden', name='e', value='1')

        include ./form.pug

        .form-group
            if recaptcha
                button.btn.btn-primary.g-recaptcha(data-sitekey=recaptcha, data-callback="onCreateSubmit") Subscribe
            else
                button.btn.btn-primary(type="submit") Subscribe
