//- plaintext message content

| Hello !{userData.name}
|
| Someone (hopefully You) has asked to reset your account password.
| You can set a new password for your #{appname} account here: !{validationUrl}
|
| !{appname} at (!{appurl})
