extends ../../layouts/main.pug

block content

    include settings-header

    form(method='post', action='/account/settings/password')
        input(type='hidden', name='_csrf', value=csrf)

        .form-group
            label(for='existingPassword') Existing password
            input#existingPassword.form-control(type='password', name='existingPassword', placeholder='Existing password', required=true, pattern='.{8,}', title='8 characters minimum', class={'is-invalid': errors && errors.existingPassword})
            if errors && errors.existingPassword
                .invalid-feedback= errors.existingPassword

        .form-group
            label(for='password') New password
            input#password.form-control(type='password', name='password', placeholder='New password', required=true, pattern='.{8,}', title='8 characters minimum', class={'is-invalid': errors && errors.password})
            small.form-text.text-muted Minimum 8 characters
            if errors && errors.password
                .invalid-feedback= errors.password

        .form-group
            label(for='password2') Repeat password
            input#password.form-control(type='password', name='password2', placeholder='Repeat password', required=true, pattern='.{8,}', title='8 characters minimum', class={'is-invalid': errors && errors.password2})
            if errors && errors.password2
                .invalid-feedback= errors.password2

        .form-group
            button.btn.btn-primary(type='submit') Update password
            = " "
            a.btn.btn-warning(href='/account/settings') Cancel
