extends ../../layouts/main.pug

block content

    include settings-header

    if isUpgrading
        .div.alert.alert-info
            strong Mailcast update
            = " "
            span Mailcast software is being currently upgraded…

    if isUpgrading && hasUpdates
        .div.alert.alert-info
            strong Mailcast update
            = " "
            span There is a new version of Mailcast available
            div.float-right
                a.btn.btn-warning.mm-action(href='#', data-mm-event='click', data-mm-action='sidteUpgrade') Upgrade now
            div.clearfix

    form(method='post', action='/account/settings/site')
        input(type='hidden', name='_csrf', value=csrf)

        .form-group
            label(for='global_site_appName') Site name
            input#global_site_appName.form-control(type='text', name='global_site_appName', placeholder='Your awesome app', required=true, value=values.global_site_appName, class={'is-invalid': errors && errors.global_site_appName})
            if errors && errors.global_site_appName
                .invalid-feedback= errors.global_site_appName

        .form-group
            label(for='global_site_baseUrl') Site URL
            input#global_site_baseUrl.form-control(type='url', name='global_site_baseUrl', placeholder='http://example.com', required=true, value=values.global_site_baseUrl, class={'is-invalid': errors && errors.global_site_baseUrl})
            small.form-text.text-muted This is the URL your service can be accessed from. This address is mostly used in emails.
            if errors && errors.global_site_baseUrl
                .invalid-feedback= errors.global_site_baseUrl

        .form-group
            label(for='global_site_hostname') Server hostname for VERP addresses
            input#global_site_hostname.form-control(type='text', name='global_site_hostname', placeholder='Your awesome app', required=true, value=values.global_site_hostname, class={'is-invalid': errors && errors.global_site_hostname})
            small.form-text.text-muted All messages are sent using this hostname as sender domain, so the MX records of the domain should point to current server to catch potential bounces
            if errors && errors.global_site_hostname
                .invalid-feedback= errors.global_site_hostname

        div.card
            div.card-header reCAPTCHA
            div.card-body
                p.card-text Using reCAPTCHA requires you to have a valid key for application hostname "<span id="mm-curdomain">#{values.global_site_hostname}</span>". You can create one <a href="https://www.google.com/recaptcha/admin">here</a> (choose the Invisible reCAPTCHA).

                div.form-group.form-check
                    input.form-check-input#global_site_recaptchaEnabled(type='checkbox', name='global_site_recaptchaEnabled', checked=values.global_site_recaptchaEnabled)
                    label.form-check-label(for="global_site_recaptchaEnabled") Enable reCAPTCHA
                    small.form-text.text-muted Check this if you want to use reCAPTCHA for subscription forms
                    if errors && errors.global_site_recaptchaEnabled
                        .invalid-feedback= errors.global_site_recaptchaEnabled

                .form-group
                    label(for='global_site_recaptchaSiteKey') Site key
                    input#global_site_recaptchaSiteKey.form-control(type='text', name='global_site_recaptchaSiteKey', required=false, value=values.global_site_recaptchaSiteKey, class={'is-invalid': errors && errors.global_site_recaptchaSiteKey})
                    if errors && errors.global_site_recaptchaSiteKey
                        .invalid-feedback= errors.global_site_recaptchaSiteKey

                .form-group
                    label(for='global_site_recaptchaSecretKey') Secret key
                    input#global_site_recaptchaSecretKey.form-control(type='password', name='global_site_recaptchaSecretKey', required=false, value=values.global_site_recaptchaSecretKey, class={'is-invalid': errors && errors.global_site_recaptchaSecretKey})
                    if errors && errors.global_site_recaptchaSecretKey
                        .invalid-feedback= errors.global_site_recaptchaSecretKey

                p.card-text Make sure you test subscription forms if reCAPTCHA is enabled. If the key is not correct then no-one can subscribe to your lists

        div.card.mt-3
            div.card-header DKIM settings
            div.card-body
                p.card-text #{appname} signs all messages with the same key, so make sure your sending domains have the same selector and key set

                div.form-group.form-check
                    input.form-check-input#reset-dkim(type='checkbox', name='resetDkim', checked=values.resetDkim)
                    label.form-check-label(for="reset-dkim") Reset DKIM key
                    small.form-text.text-muted Check this if you want to replace current DKIM key with a new one

                .form-group
                    label DKIM Selector
                    input.form-control.pgp-input(type='text', value=dkim.name, readonly=true)
                    small.form-text.text-muted Use this value as the subdomain name of your email domain for a DNS TXT record

                .form-group
                    label DKIM Public Key
                    input.form-control.pgp-input(type='text', value=dkim.value, readonly=true)
                    small.form-text.text-muted Use this as the value for the DNS TXT record

        .form-group.mt-3
            button.btn.btn-primary(type='submit') Update settings
            = " "
            a.btn.btn-warning(href='/account/settings') Cancel

    script.
        document.getElementById('mm-curdomain').textContent = window.location.hostname;
