//- plaintext message content

| Hello !{userData.name}
|
| Welcome to !{appname}!
| Your email address needs to be validated
| Click here to validate your email address: !{validationUrl}
|
| !{appname} at (!{appurl})
